#contenuto {
    margin-right: 100px;
    margin-left: 100px;
}



#background {
    height: 200px;
    background-color: rgb(44, 152, 188);
    background-size: 40%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}

#logo{
    width: 30%;
    margin-top: 140px;
}
   
#autore {
    color: rgb(22, 126, 206);
}
    
h4, h6 {
    color: gray;

}

.timimage {
    background-repeat: no-repeat;
    
}
#tim1 {
    width: 50%;

}
#tim2 {
    width: 43%;
}
figcaption{
    font-size: xx-small;
}
#colortext{
    background-color: yellow;
}

ul { 
	padding-inline-start: 10px;
	}