#contenuto {
    margin-right: 100px;
    margin-left: 100px;
}



#background {
    height: 200px;
    background-color: rgb(44, 152, 188);
    background-size: 40%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}

#logo{
    width: 30%;
    margin-top: 140px;
}
   
#autore {
    color: rgb(22, 126, 206);
}
    
h4, h6, h5{
    color: gray;

}

.timimage {
    background-repeat: no-repeat;
    
}
#tim1 {
    width: 50%;

}
#tim2 {
    width: 43%;
}
figcaption{
    font-size: xx-small;
}
#colortext{
    background-color: yellow;
}

ul { 
	padding-inline-start: 10px;
	}
    #firstrow{
        background-color: rgb(43, 106, 201);
        color: white;
        border-collapse: collap
        
    }

    table {
        border-spacing: 0;
        width: 100%;
    }

    th, td{
        padding: 10px;
    }
    #primo, #secondo{
        width: 25%;
        text-align: left;
    }
    
    #terzo {
        width: 50%;
        text-align: left;
    } 
    #secondrow, #fourthrow{
        background-color: rgb(130, 180, 228);
    }

#monitor{
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    height: 200px;
    font-size: 140%;
    background-size: contain;

    
    
}
#descrizione {
    margin-left: 10%;
    color: white;
    font-size: large;
}
#dati{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    height: 200px;
    font-size: 140%;
    background-size: contain;
    margin-top: 10%;

}