#contenuto {
    margin-right: 100px;
    margin-left: 100px;
}



#background {
    height: 200px;
    background-color: rgb(44, 152, 188);
    background-size: 40%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}

#logo{
    width: 30%;
    margin-top: 140px;
}
   
    
